# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
staticfiles/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Todos los archivos .md
**.md
database/
docs/

# Entorno local
.env
.env.local

# Media (Cargas de usuario)
media/
